<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paper.reason.dao.JieShouMapper" >
  <resultMap id="BaseResultMap" type="com.paper.reason.model.JieShou" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SVC_ID" property="svcId" jdbcType="VARCHAR" />
    <result column="SVC_NAME" property="svcName" jdbcType="VARCHAR" />
    <result column="INTERFACE_ID" property="interfaceId" jdbcType="VARCHAR" />
    <result column="INTERFACE_NAME" property="interfaceName" jdbcType="VARCHAR" />
    <result column="test" property="test" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SVC_ID, SVC_NAME, INTERFACE_ID, INTERFACE_NAME,test
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jieshou
    where ID = #{id,jdbcType=INTEGER}
  </select>
    <select id="findAll" resultType="com.paper.reason.model.JieShou">
        select *  from jieshou
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jieshou
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.paper.reason.model.JieShou" >
    insert into jieshou (ID, SVC_ID, SVC_NAME, 
      INTERFACE_ID, INTERFACE_NAME)
    values (#{id,jdbcType=INTEGER}, #{svcId,jdbcType=VARCHAR}, #{svcName,jdbcType=VARCHAR}, 
      #{interfaceId,jdbcType=VARCHAR}, #{interfaceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.paper.reason.model.JieShou" >
    insert into jieshou
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="svcId != null" >
        SVC_ID,
      </if>
      <if test="svcName != null" >
        SVC_NAME,
      </if>
      <if test="interfaceId != null" >
        INTERFACE_ID,
      </if>
      <if test="interfaceName != null" >
        INTERFACE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="svcId != null" >
        #{svcId,jdbcType=VARCHAR},
      </if>
      <if test="svcName != null" >
        #{svcName,jdbcType=VARCHAR},
      </if>
      <if test="interfaceId != null" >
        #{interfaceId,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null" >
        #{interfaceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.paper.reason.model.JieShou" >
    update jieshou
    <set >
      <if test="svcId != null" >
        SVC_ID = #{svcId,jdbcType=VARCHAR},
      </if>
      <if test="svcName != null" >
        SVC_NAME = #{svcName,jdbcType=VARCHAR},
      </if>
      <if test="interfaceId != null" >
        INTERFACE_ID = #{interfaceId,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null" >
        INTERFACE_NAME = #{interfaceName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paper.reason.model.JieShou" >
    update jieshou
    set SVC_ID = #{svcId,jdbcType=VARCHAR},
      SVC_NAME = #{svcName,jdbcType=VARCHAR},
      INTERFACE_ID = #{interfaceId,jdbcType=VARCHAR},
      INTERFACE_NAME = #{interfaceName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>